---
layout: default
---
<div class="container">
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{ site.title | escape }}
        </h1>
        <h2 class="subtitle">
          {{ site.description | escape }}
        </h2>
      </div>
    </div>
  </section>
  <div class="columns">
      {%- for post in site.posts -%}
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <div class="column is-one-third">
          <a href="{{ post.url | relative_url }}">
              <div class="card">
                  <div class="card-content">
                    <p class="title">
                      {{ post.title | escape }}
                    </p>
                    <p class="subtitle">
                      {{ post.date | date: date_format }}
                    </p>
                  </div>
                </div>
          </a>
      </div>
      {%- endfor -%}
  </div>
  <a class="button is-primary" href="{{ "feed.xml" | relative_url }}">
    Subscribe via RSS
  </a>
</div>
